################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FOS.Repository/bin
/FOS.Repository/obj/Debug/net8.0
/FOS.Repository/obj/Release/net8.0
/FOS.Repository/FOS.Repository.sln
/FOS.Repository/obj
/FOS.Repository/.vs/FOS.Repository/FileContentIndex
