################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FOS.Repository/.vs/FOS.Repository/FileContentIndex
/FOS.Repository/obj
/FOS.Repository/bin/Debug/net8.0
/FOS.Repository/.vs/FOS.Repository/v17/.suo
/FOS.Repository/.vs/FOS.Repository/v17
