################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FOS.Repository/.vs
/FOS.Repository/bin/Debug/net8.0
/FOS.Repository/bin/Release/net8.0
/FOS.Repository/obj
/FOS.Repository/FOS.Repository.sln
